body{
    background-image: url("https://img.freepik.com/free-vector/night-scene-with-magic-portal-fantastic-teleport_107791-12221.jpg?w=1380&t=st=1690281205~exp=1690281805~hmac=f17bd622a407414cba5b51993fb1d7f1ec1f10c9fc00d305ac3a3097279cebb3");
    background-size: cover;
    text-align: left;
}